.container {
  width: 90vw;
  max-height: 90vh;
  overflow: auto;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 8px 0;
}

.controls {
  text-align: center;
  margin: 8px 0;
}
.controls > button {
  margin: 0 10px;
  padding: 0.5em 1em;
}
