.container {
  margin-left: 6rem;
}

.textareaContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 8px;
}
.chip {
  position: absolute;
  left: -8ch;
  width: 6.5ch;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.chip > button {
  padding: 1px;
}

.additional {
  margin-left: -6rem;
}
